[user]
	email = fun@bk.ru
        name = Anton Afanasyev
[branch]
        autosetuprebase = always
[branch "master"]
        rebase = true
[alias]
        co = checkout
        ck = checkout
        st = status
        ci = commit
        cm = commit
        br = branch
        clone = 'clone --recursive'
        cam = commit --amend
        caa = commit --amend -a
        ro = restore
        rb = rebase
        rbc = rebase --continue
[color]
        ui = auto
[push]
        default = upstream
[core]
	editor = emacs -nw
[merge]
	defaultToUpstream = true
        renamelimit = 3000
[status]
	;showUntrackedFiles = no
[url "git@github.com:"]
	pushInsteadOf = https://github.com/
	insteadOf = https://github.com/
[url "git@bitbucket.org:"]
	insteadOf = https://bitbucket.org/
