[user]
	email = fun@bk.ru
        name = Anton Afanasyev
[branch]
        autosetuprebase = always
[branch "master"]
        rebase = true
[alias]
        co = checkout
        st = status
        ci = commit
        br = branch
[color]
        ui = auto
[push]
        default = upstream
[core]
	editor = emacs -nw
[merge]
	defaultToUpstream = true
[status]
	showUntrackedFiles = no
